.Hotbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 12px;
}

.Logo img {
  width: 122px;
  height: auto;
}

.navigation-buttons {
  display: flex;
  gap: 22px;
  transition: transform 0.4s ease-in-out;
}

.navigation-buttons button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 17px;
  padding: 9px 13px;
}
.navigation-buttons button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  /* Add more styles if needed */
}

/* Header styles */
header {
  background-image: url("https://www.peninsula.com/-/media/images/hong-kong/offers/holidays/dragon-boat-experience-2017/dragon-boat-1074.jpg?mw=987&hash=99A1A6726E7FD3DAFA995D1E9AA7169E");
  background-size: cover;
  background-position: center;
  height: 400px; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

header h1 {
  font-size: 6em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  color: #ff6347;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.65;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #ff6347;
  color: white;
  padding: 22px 0;
  text-align: center;
}

.header-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 22px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}
/* Main styles */
main {
  width: 81%;
  margin: 30px auto;
}

section {
  margin-bottom: 52px;
  background-color: #fff;
  padding: 22px;
  border-radius: 9px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.about-content,
.terms-content,
.rates-content {
  width: 81%;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 22px;
  border-radius: 9px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.about-content h2,
.terms-content h2,
.rates-content h2 {
  font-size: 29px;
  margin-bottom: 21px;
  color: #333;
  border-bottom: 3px solid #4d4747;
  padding-bottom: 11px;
}

.about-content p,
.terms-content p,
.rates-content p {
  margin-bottom: 15px;
  color: #555;
}

.about-content ul {
  margin-bottom: 21px;
}

.about-content {
  background-color: #ffe5e5;
}

.terms-content {
  background-color: #e5e5ff;
}

.rates-content {
  background-color: #e5ffe5;
}
/* Tables*/
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 22px;
}

th,
td {
  border: 2px solid #ddd;
  padding: 12px;
  text-align: left;
}

thead {
  background-color: #f2f2f2;
  color: #333;
}

.booking-hours {
  text-align: center;
  margin-top: 21px;
  font-style: italic;
  color: #777;
}

/* Footer styles */
.gradient-footer {
  background-image: linear-gradient(to right, #ff6347, #4682b4);
  color: white;
}
.color-footer {
  background-image: linear-gradient(to right, #ff6347, #4682b4);
  color: white;
}

.f-box {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 22px;
  padding: 22px 0;
}

.content-box {
  flex: 1 0 210px;
  text-align: center;
}
.content-box h3 {
  font-size: 22px;
  margin-bottom: 17px;
}
.content-box a {
  display: block;
  margin-bottom: 13px;
  color: white;
  text-decoration: none;
}

.image-box img {
  width: 42px;
  height: 42px;

  margin-right: 11px;
  border-radius: 50%;
}
.g-images {
  display: flex;
  justify-content: space-between;
}

.g-images img {
  width: calc(50% - 5px);
  height: auto;
  border-radius: 6px;
}
