.Hotbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 12px;
}

.Logo img {
  width: 122px;
  height: auto;
}

.navigation-buttons {
  display: flex;
  gap: 22px;
  transition: transform 0.4s ease-in-out;
}

.navigation-buttons button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 17px;
  padding: 9px 13px;
}
.navigation-buttons button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}
