* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.p-header,
.g-header,
.c-header {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 16px;
  background-image: linear-gradient(
    to right,
    #ff6347,
    #4682b4
  ); /* Gradient background */
  padding-bottom: 7px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .p-header,
  .g-header,
  .c-header {
    font-size: 21px;
  }
}

/* hotbar */
.Hotbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
}

.Logo img {
  width: 125px;
  height: auto;
}

.navigation-buttons {
  display: flex;
  gap: 22px;
  transition: transform 0.3s ease-in-out;
}

.navigation-buttons button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 17px;
  padding: 9px 13px;
}
.navigation-buttons button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}
.picture-words {
  position: relative;
  margin-top: 21px;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  width: 78%;
  color: rgba(255, 255, 255, 2.5);
  font-weight: bold;
  font-size: 52%;
}

.text h1 {
  font-size: 96px;
  font-weight: bold;
  background: linear-gradient(138deg, #00ff00, #0000ff);
  -webkit-background-clip: text;
  background-clip: none;
  -webkit-text-fill-color: transparent;
}

.text p {
  font-size: 19px;
  line-height: 1.7;
}

.image-s img {
  width: 100%;
  height: auto;
  max-height: 505px;
  display: block;
}
.products-section {
  margin-top: 32px;
  overflow: hidden;
  position: relative;
}

.products-box {
  display: flex;
  gap: 17px;
  transition: transform 0.5s ease;
}

.products {
  flex: 0 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 260px;
  height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 23px;
}
.products:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}

.products img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  transition: transform 0.3s ease;
}

.arrow-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}
.product-description {
  padding: 15px;
  text-align: center;
  background-color: #c6c6c6;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.Name {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 11px;
}

.Name p {
  color: #555;
  font-size: 0.9em;
  line-height: 1.5;
}
.arrow {
  width: 33px;
  height: 33px;
  background-image: url("https://w7.pngwing.com/pngs/247/15/png-transparent-arrow-arrow-angle-triangle-black-thumbnail.png");
  background-size: cover;
}
/* classes */
.classes-section ul {
  list-style: none;
}
.classes-section ul li {
  margin-top: 6px;
  color: #666;
}
.box:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}
.arrow-container {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}
.classes-section {
  margin-top: 32px;
}

.class-containers {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}
.box {
  flex: 0 0 calc(33.33% - 20px);
  background-color: #bebebe;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.box img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 16px;
}

.class-description {
  text-align: center;
}

.c-Name {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 12px;
  color: #333;
}

.class-description p {
  color: #555;
  font-size: 0.9em;
  line-height: 1.4;
}

/* Gallery  */
.gallery-section {
  margin-top: 28px;
  text-align: left;
}

.g-images img {
  width: 155px;
  height: auto;
  margin-right: 22px;
  margin-bottom: 11px;
}
@media screen and (max-width: 768px) {
  .g-images img {
    width: 100%;
    margin-bottom: 12px;
  }
}

/* Footer */
.color-footer {
  background-image: linear-gradient(to right, #ff6347, #4682b4);
  color: white;
}

.f-box {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 22px;
  padding: 22px 0;
}

.content-box {
  flex: 1 0 210px;
  text-align: center;
}
.content-box h3 {
  font-size: 22px;
  margin-bottom: 17px;
}
.content-box a {
  display: block;
  margin-bottom: 13px;
  color: white;
  text-decoration: none;
}

.image-box img {
  width: 42px;
  height: 42px;

  margin-right: 11px;
  border-radius: 50%;
}
.g-images {
  display: flex;
  justify-content: space-between;
}

.g-images img {
  width: calc(50% - 5px);
  height: auto;
  border-radius: 6px;
}
@media screen and (max-width: 768px) {
  .navigation-buttons {
    flex-direction: column;
    gap: 9px;
  }

  .navigation-buttons button {
    padding: 8px 10px;
    font-size: 12px;
  }

  .picture-words {
    margin-top: 18px;
  }

  .text h1 {
    font-size: 46px;
  }

  .text p {
    font-size: 14px;
  }

  .image-s img {
    max-height: 300px;
  }
  .class-containers {
    gap: 14px;
  }

  .box {
    flex: 0 0 calc(50% - 12px);
  }

  .class-description p {
    font-size: 15px;
  }
  .content-box {
    flex: 1 0 100%;
  }

  .f-box {
    gap: 16px;
  }
  .g-images img {
    width: 100%;
    margin-bottom: 8px;
  }

  .gallery-section {
    text-align: center;
  }

  .g-images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .g-images img {
    width: 90%;
    height: 60%;
    max-width: 300px;
    margin-bottom: 16px;
  }
  .products-section {
    overflow-y: auto;
    max-height: calc(100vh - 450px);
    padding-right: 18px;
  }

  .products-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .products {
    width: 95%;
    margin-bottom: 10px;
  }

  .products img {
    max-width: 85%;
    height: 60%;
    border-radius: 5px;
  }

  .product-description {
    padding: 20px;
    font-size: 14px;
  }

  .Name {
    font-size: 1.5em;
    margin-bottom: 5px;
  }

  .Name p {
    font-size: 0.8em;
  }
}
